*{
    padding:0;
    margin: 0;
}

body{
    text-align: center;    
}
#urlContainer{
    margin: 20px;
}
a{
    color: black;
    text-decoration: none;
    margin: 15px
}
a::before{
    content: "\00a0 ";
}
#title{
    margin: 10px
}

svg{
    text-align: center;
    margin: 20px auto;
    display: block;
    font-size: 12px;
    
}
